body {
 background-image: url("../dark-triangles.png");
 /* https://www.toptal.com/designers/subtlepatterns/dark-triangles/ */
 font-family: GothamMedium;
}

div {
 color: white;
}

hr {
	width: 100px;
}

#copyright {
	margin-right: 20px;
	font-size: 14px;
}

/*
h2 {
 margin-bottom: 30px;
}
*/

#containers {
 width: 90%;
}

@font-face {
 font-family: GothamMedium;
 src: url("../files/Gotham Medium Regular.ttf");
}